header,main,footer{
	width:1200px;
  margin:auto;
  padding:20px;
  font-family:sans-serif;
}
header nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  padding: 10px;
}
header nav ul li a{
  text-decoration: none;
  color: white;
}
header nav ul li a:hover{
  text-shadow: 2px 2px 10px white;
  border: 2px solid white; border-radius: 10px;
  padding: 10px;
}
header nav{
  position: absolute;
  top: 10px;
  right: 20px;
}
body{
  background-color: black;
  color: white;
}
main{
	display:grid;
  grid-template-columns:repeat(3,100fr);gap:20px;
}
main a{
	color:white;
  text-decoration:inherit;
  background: #139483;
  padding:10px;
  border-radius:5px;
}
img{width:100%;}

header,footer{
	text-align:center;
}
footer{
  width: 100%;
}
footer img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  filter: invert(1) drop-shadow(0 0 30px white);
}
